<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      <%= @calendar.title %>
    </div>
  </div>
</div>

<div class="messages">
  <%= render partial: 'shared/chat', collection: @chats %>
</div>

<%= form_with model: [@calendar, @chat], class: 'form', local: true do |f| %>
  <select name="chat[team_id]">
        <option value="">チャットを送るチームを選択してください</option>
        <% Team.where(user_id: current_user.id).each do |team| %>
          <option value=<%= team.id%>><%= team.teamname %></option>
        <% end %>
      </select>
  <div class="form-input">
    <%= f.text_field :message, class: 'form-message', placeholder: 'メッセージを入力してください' %>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>