<%= render 'shared/pagetop'%>

<h1>対戦募集</h1>

<%= link_to '新規対戦募集', new_calendar_path, class: "calendar-new" %>

<%= month_calendar events: @calendars, class: "calendar-body" do |date, calendars|  %>
  <%= date %>

  <% calendars.each do |calendar| %>
    <div>
      <%= link_to calendar.title, calendar_path(calendar.id) %>
    </div>
  <% end %>

<% end %>

