<div class= "calendar_show">
  <%= @calendar.title %>
</div>

  <div class="calendar_table">
    <table>
      <tbody>
        <tr>
          <th class="table__col1">日時</th>
          <td class="table__col2"><%= @calendar.date %></td>
        </tr>
        <tr>
          <th class="table__col1">都道府県</th>
          <td class="table__col2"><%= @calendar.prefecture.name %></td>
        </tr>
        <tr>
          <th class="table__col1">開催場所</th>
          <td class="table__col2"><%= @calendar.place %></td>
        </tr>
        <tr>
          <th class="table__col1">チーム参加費</th>
          <td class="table__col2"><%= @calendar.cost %></td>
        </tr>
        <tr>
          <th class="table__col1">募集チーム数</th>
          <td class="table__col2"><%= @calendar.recruitment %></td>
        </tr>
        <tr>
          <th class="table__col1">募集締め切り日</th>
          <td class="table__col2"><%= @calendar.deadline %></td>
        </tr>
      </tbody>
    </table>
  </div>

