<%= render 'shared/pagetop'%>

<div class= "calendar_show">
  <%= @calendar.title %>
</div>

  <div class="calendar_table">
    <table>
      <tbody>
        <tr>
          <th class="table__col1">日時</th>
          <td class="table__col2"><%= l @calendar.date, format: :short %></td>
        </tr>
        <tr>
          <th class="table__col1">都道府県</th>
          <td class="table__col2"><%= @calendar.prefecture.name %></td>
        </tr>
        <tr>
          <th class="table__col1">開催場所</th>
          <td class="table__col2"><%= @calendar.place %></td>
        </tr>
        <tr>
          <th class="table__col1">チーム参加費</th>
          <td class="table__col2"><%= @calendar.cost %></td>
        </tr>
        <tr>
          <th class="table__col1">募集チーム数</th>
          <td class="table__col2"><%= @calendar.recruitment %></td>
        </tr>
        <tr>
          <th class="table__col1">募集締め切り日</th>
          <td class="table__col2"><%= l @calendar.deadline, format: :short %></td>
        </tr>
        <tr>
          <th class="table__col1">募集投稿チーム</th>
          <td class="table__col2"><%= link_to @calendar.team.teamname, team_path(@calendar.team.id)  %></td>
        </tr>
        
      </tbody>
    </table>

    <% if @calendar.team.user_id == current_user.id %>
      <%= link_to "編集", edit_calendar_path(@calendar.id) %>
      <%= link_to "削除", calendar_path(@calendar.id), method: :delete %>
    <% end %>

    <div class= "link-chat">
      <%= link_to "参加ページへ", new_calendar_join_path(@calendar.id)  %>
    </div>
  </div>

