<div class= "registration_top">
  <%= link_to image_tag("commusal_icon.png", class:"image_icon"), root_path %>
  <h1>コミュサル</h1>
</div>

<div class= "calendar_show">
  <%= @calendar.title %>
</div>

  <div class="calendar_table">
    <table>
      <tbody>
        <tr>
          <th class="table__col1">日時</th>
          <td class="table__col2"><%= @calendar.date %></td>
        </tr>
        <tr>
          <th class="table__col1">都道府県</th>
          <td class="table__col2"><%= @calendar.prefecture.name %></td>
        </tr>
        <tr>
          <th class="table__col1">開催場所</th>
          <td class="table__col2"><%= @calendar.place %></td>
        </tr>
        <tr>
          <th class="table__col1">チーム参加費</th>
          <td class="table__col2"><%= @calendar.cost %></td>
        </tr>
        <tr>
          <th class="table__col1">募集チーム数</th>
          <td class="table__col2"><%= @calendar.recruitment %></td>
        </tr>
        <tr>
          <th class="table__col1">募集締め切り日</th>
          <td class="table__col2"><%= @calendar.deadline %></td>
        </tr>
        <tr>
          <th class="table__col1">募集投稿チーム</th>
          <td class="table__col2"><%= @calendar.team.teamname %></td>
        </tr>
        <tr>
          <th class="table__col1">参加チーム</th>
          <td class="table__col2">
            <% Join.where(calendar_id: params[:calendar_id]).each do |join| %>
              <%= join.team.teamname + "/" %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


<% if current_user.id != @calendar.team.user_id %>
  <%= form_with(model:[@calendar,@join], local: true) do |f| %>
      <select name="join[team_id]">
        <option value="">参加するチームを選択してください</option>
        <% Team.where(user_id: current_user.id).each do |team| %>
          <option value=<%= team.id%>><%= team.teamname %></option>
        <% end %>
      </select>
      <div class="actions">
        <%= f.submit "対戦参加" %>
      </div>
  <% end %>
<% end %>
